.header-banner {
  background-image: url("/Assets//mile1-assets/home-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1080px;
}
.header {
  padding: 50px;
  text-align: center;
  color: white;
}
.header img {
  padding-bottom: 30px;
  width: 363px;
  height: 50px;
}

.text-1 {
  font-size: 32px;
  margin: 10px 0;
  font-family: "Satisfy";
  color: #fdc913;
}

.text-2 {
  font-size: 86px;
  margin: 20px 0;
  font-family: "Roboto Condensed";
  font-weight: 250;
}

.header button {
  background-color: #fdc913;
  border: none;
  border-radius: 30px;
  padding: 20px 20px;
  cursor: pointer;
  width: 150px;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  font-family: "Barlow";
}
@media (max-width: 768px) {
  .header-banner img {
    width: 300px;
  }

  .text-1 {
    font-size: 24px;
  }

  .text-2 {
    font-size: 64px;
  }
}
