.footer {
  background-color: #1a1a1a;
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
}
.contact-menus {
  display: flex;
}
.footer .contact,
.footer .menus,
.footer .instagram {
  max-width: 306px;
  margin: 0 10px;
}

.footer p {
  font-size: 18px;
  margin: 20px 0;
  font-family: "Barlow";
  font-weight: 400;
}

.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 7.39px;
}

.footer li {
  margin: 5px 0;
  font-weight: 400;
  font-size: 18px;
  font-family: "Barlow";
}

.menus p {
  font-weight: 500;
  font-size: 24px;
}
.instagram p {
  font-weight: 500;
  font-size: 24px;
}
.instagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .instagram img {
  width: 94.5px;
  height: 94.5px;
  margin: 1%;
  border-radius: 10px;
}
hr {
  margin: 0;
  color: #1a1a1a;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 250px;
  align-items: center;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Barlow";
}

/*  (768px - 1024px) */
@media screen and (max-width: 1024px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
  }
  .contact-menus {
    display: flex;
    flex-direction: column;
  }
  .footer .instagram img {
    width: 94.5px;
    height: 94.5px;
  }

  .footer-bottom {
    padding: 10px 20px;
    flex-direction: column;
    gap: 10px;
  }
}

/* (768px'e kadar) */
@media screen and (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .contact-menus {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer .instagram img {
    width: 94.5px;
    height: 94.5px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  /*  (480px'e kadar) */
  @media screen and (max-width: 480px) {
    .footer p,
    .footer li {
      font-size: 16px;
    }

    .menus p,
    .instagram p {
      font-size: 20px;
    }

    .footer .instagram img {
      width: 94.5px;
      height: 94.5px;
    }
  }
}
